{% extends "base.html" %}

{% block title %} Home Page | Marksheet Management System  {% endblock %}

{% block header %}
  <h1 class="page-title mb-2"> Dashboard </h1>
               <h2 class="h5">Welcome back to the Dashboard.</h2>
               <p>Scroll down to see quick links and overviews of your Server, To do list<br> Order status or get some Help using Nifty.</p>
{% endblock %}

{% block content %} 

  <div class="card h-100">
                        <div class="card-header d-flex align-items-center border-0">
                           <div class="me-auto">
                              <h3 class="h4 m-0">History of the College</h3>
                           </div>
                           <div class="toolbar-end">
                             
                             
                           </div>
                        </div>                                     
                     </div>

                     {% include 'includes/message.html' %}
{% endblock %}