{% extends "base.html" %}

{% load static %}

{% block title %} Register User | Marksheet Management System  {% endblock %}

{% block header %}
  <h1 class="page-title mb-2"> Register User </h1>
             <h2 class="h5">Welcome back to User Registration.</h2>
               <p>This module is being used to create the New User, who then will be able to access the application using their Username and Password.</p>
{% endblock %}

{% block content %} 
<div class="col-xl-12 mb-3 mb-xl-0">


               <div class="card">

                  <!-- Custom style form wizard -->
                  <div class="d-md-flex align-content-stretch">

                     <!-- Info banner -->
                     <div class="col-md-4 bg-info bg-opacity-30 text-info-emphasis d-flex flex-column align-items-center justify-content-center p-3 rounded-start">
                        <h3 class="h1 mb-3 text-info-emphasis">Register User</h3>
                        <p class="text-center">This module is being used to create, view, update and delete the Registered User.</p>
                      
                     </div>
                     <!-- END : Info banner -->

                     <!-- <div class="d-none d-md-block vr"></div> -->


                     <div class="card-body flex-fill">

                       

                    

                            <div class="card shadow-lg">
        <div class="card-body center" >

           <div class="text-center">
              <h1 class="h3">Create a New Account</h1>
              <p>Come join the College of Teacher Education Family! Let's set up your account.</p>
           </div>

             <form class="needs-validation" method="post" action="{% url 'register' %}" novalidate>
            {% csrf_token %}
              <div class="w-md-800px d-inline-flex row g-3 mb-4">
                 <div class="col-sm-6">
                    {% comment %} <input type="text" class="form-control" placeholder="First name" aria-label="First name" autofocus required> {% endcomment %}
                    {{ form.first_name }}
                    <div class="invalid-feedback">Please input your First Name</div>
                 </div>
                 <div class="col-sm-6">
                  {{ form.last_name }}
                    <div class="invalid-feedback">Please input your Last name</div>
                 </div>
                 <div class="col-12">
                  {{ form.username }}
                    <div class="invalid-feedback">Please choose your username</div>
                 </div>
                 <div class="col-12">
                  {{ form.mobile_no }}
                    <div class="invalid-feedback">Please Enter Your Mobile No</div>
                 </div>
                 <div class="col-12">
                  {{ form.email }}
                    <div class="invalid-feedback">Kindly enter proper email address</div>
                 </div>
                 <div class="col-sm-6">
                  {{ form.password }}
                    <div class="invalid-feedback">Please enter strong Password</div>
                 </div>
                 <div class="col-sm-6">
                  {{ form.confirm_password }}
                    <div class="invalid-feedback">Confirm entered password</div>
                 </div>
              </div>            
             
              <br>

          
            <div class="card">
               <ul class="errorlist">               
                  {% for field in error %}
                     {% if field.errors %}
                        {% for error in field.errors %}
                           <li style="color:red;"> {{ error }} </li>
                        {% endfor %}
                     {% endif%}
                  {% endfor%}
                  {% if form.non_field_errors  %}
                     <li style="color:crimson;"> {{ form.non_field_errors }} </li>
                  {% endif %}
               </ul>
            </div>

              
             
              <div class="d-grid mt-2">
                 <button class="btn btn-primary btn-lg"  type="submit">Register</button>               
              </div>

              
              <div class="row mt-4">
          <!-- Small table -->
                           <div class="table-responsive">
                              <table class="table table-sm">
                                 <thead>
                                    <tr>
                                       <th>Username</th>  
                                       <th>Mobile Number</th>  
                                        <th>Email Address</th>                                      
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for users in userdetail %}
                                       <tr>
                                       <td><a href="#" class="btn-link">{{ users.username|title}}</a></td>
                                       <td>{{ users.mobile_no}} </td>
                                       <td>{{ users.email}} </td>
                                        <td><a href="#" data-id={{ users.id }}><img src="{% static 'img/delete.png' %}"> </img> </a></td>
                                    </tr>
                                    {% endfor %}
                                   
                                    
                                 </tbody>
                              </table>
                           </div>
                           <!-- END : Small table -->

              </div>
           </form>

           {% comment %} <div class="d-flex justify-content-between mt-4">
              Already have an account ?
              <a href="{% url 'login' %}" class="btn-link text-decoration-none">Sign In</a>
           </div> {% endcomment %}

    </div>


                     </div>
                  </div>
                  <!-- END : Custom style form wizard -->

               </div>

               
</div>


{% endblock %}