{% extends "base.html" %}

{% load static %}

{% block title %} Batch Settings | Marksheet Management System  {% endblock %}

{% block header %}
  <h1 class="page-title mb-2"> Batch Settings </h1>
             <h2 class="h5">Welcome back to Batch Configuration.</h2>
               <p>This module is being used to create the Batch</p>
{% endblock %}

{% block content %} 

{% block ajax_call %}
    <script src="{% static 'ajax/batch_ajax.js' %}"></script>
{% endblock %}
<div class="col-xl-12 mb-3 mb-xl-0">


               <div class="card">

                  <!-- Custom style form wizard -->
                  <div class="d-md-flex align-content-stretch">

                     <!-- Info banner -->
                     <div class="col-md-4 bg-info bg-opacity-30 text-info-emphasis d-flex flex-column align-items-center justify-content-center p-3 rounded-start">
                        <h3 class="h1 mb-3 text-info-emphasis">Batch Settings</h3>
                        <p class="text-center">This module is being used to create, view, update and delete the Batch.</p>
                      
                     </div>
                     <!-- END : Info banner -->

                     <!-- <div class="d-none d-md-block vr"></div> -->


                     <div class="card-body flex-fill">

                       

                    

                            <div class="card shadow-lg">
        <div class="card-body center" >

           <div class="text-center">
              <h1 class="h3">Create a Batch Details</h1>
              <p>This module is being used to view, create, update and delete the Batch.</p>
           </div>
         <input type="hidden" value= "{% url 'batch-add' %}" id="getUrl" />
             <form id="myform" class="needs-validation" novalidate>
            {% csrf_token %}
              <div class="w-md-800px d-inline-flex row g-3 mb-4" style="width:100%;"> 
               
               <div class="col-sm-3">                  
                  <label style="color:red; padding-top: 10px;" >Enter Batch Year *</label>     
                 </div>    


               
                 <div class="col-sm-9">
                  
                  {{ form.heads }}
                    <div class="invalid-feedback">Please input Batch Name</div>
                 </div>      
              </div>         
           
              <br>

              {% include 'includes/loader.html'%}
              
         <div class="card">
               <ul class="errorlist"> 
                  {% if form.errors %}              
                  {% for field in form %}
                     {% if field.errors %}
                        {% for error in field.errors %}
                           <li style="color:red;"> {{ error }} </li>
                        {% endfor %}
                     {% endif%}
                  {% endfor%}
                  {% if form.non_field_errors  %}
                     <li style="color:crimson;"> {{ form.non_field_errors }} </li>
                  {% endif %}
                  {% endif %}
               </ul>
            </div>
             
              <div class="d-grid mt-2">
              
                 <button class="btn btn-primary btn-lg" id="add">EXECUTE</button>               
              </div>

              
              <div class="row mt-4">
          <!-- Small table -->
                           <div class="table-responsive">
                               <table id="myTable" class="table table-sm">
                                 <thead>
                                    <tr>
                                       <th>BATCH NAME</th>
                                       <th></th>
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for col in table_name %}
                                       <tr id="ROW-{{col.id}}">
                                       <td><a href="#" class="btn-link">{{ col.heads|upper}}</a></td>
                                     
                                        <td><a href="{% url 'batch-edit' col.id %}"><img src="{% static 'img/edit.png' %}"> </img> </a></td>                           
                                       <td><a href="#" class="remove" data-url="{% url 'batch-delete' col.id %}"><img src="{% static 'img/delete.png' %}"> </img> </a></td>                           
                                    </tr>
                                    {% endfor %}
                                   
                                    
                                 </tbody>
                              </table>
                           </div>
                           <!-- END : Small table -->

              </div>
           </form>

         

           {% comment %} <div class="d-flex justify-content-between mt-4">
              Already have an account ?
              <a href="{% url 'login' %}" class="btn-link text-decoration-none">Sign In</a>
           </div> {% endcomment %}
             {% comment %} {% include 'includes/message.html' %} {% endcomment %}
    </div>


                     </div>
                  </div>
                  <!-- END : Custom style form wizard -->

               </div>

               
</div>


{% endblock %}