{% extends "base.html" %}

{% load static %}

{% block title %} Subjects Settings | Marksheet Management System  {% endblock %}

{% block header %}
  <h1 class="page-title mb-2"> Subject Settings </h1>
             <h2 class="h5">Welcome back to Subject Configuration.</h2>
               <p>This module is being used to create the Subject</p>
{% endblock %}

{% block content %} 

<script>
    $(document).ready(function() {
        $('#id_semester_id').change(function() {
            var selectedValue = $(this).val();
            $.ajax({
                beforeSend: function(){
                  $('.ajax-loader').css("visibility", "visible");
                },

                url: '{% url "get_filtered_data" %}',
                data: {
                    'selected_value': selectedValue
                },
                dataType: 'json',
                success: function(data) {
                    var tableBody = $('#myTable tbody');
                    tableBody.empty(); // Clear existing data
                    $.each(data, function(index, item) {
                        var row = '<tr id="Row-" + ' + item.id + '><td>' + item.code + '</td> <td>' + item.heads + '</td> <td><a href=/subject/edit/' + item.id + '><img src="{% static "img/edit.png" %}"> </img></a></td><td><a href="#" class="remove" data-id=' + item.id + ' data-url="/subject/delete/'  + item.id + '/"> <img src="{% static "img/delete.png" %}"> </img> </a></td></tr>';
                        tableBody.append(row);
                    });
                },
                 complete: function(){
                  $('.ajax-loader').css("visibility", "hidden");
                  },

                error: function(xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                }
            });
        });
    });
</script>


<script type="text/javascript">
    $(document).on('submit', '#myform', function(e) {
         e.preventDefault();

         $.ajax({
             beforeSend: function(){
                  $('.ajax-loader').css("visibility", "visible");
                },

            type: 'POST',
            url: '{% url "subject-add" %}',
            data: {
               semester_id: $('#id_semester_id').val(),
               code: $('#id_code').val(),
               heads: $('#id_heads').val(),           
               csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
             success: function(data) {
                
                    var tableBody = $('#myTable tbody');
                    tableBody.empty(); // Clear existing data
                    $.each(data, function(index, item) {
                        var row = '<tr="Row-" + ' + item.id + '><td>' + item.code + '</td> <td>' + item.heads + '</td> <td>' + "<a href=/subject/edit/" + item.id + "><img src={% static 'img/edit.png' %}> </img></a>" + '</td><td>' + "<a href=/subject/delete/" + item.id + "')\" +><img src={% static 'img/delete.png' %}> </img></a>" + '</td></tr>';
                        tableBody.append(row);
                    });

               Swal.fire({
                icon: 'success', // Use message tags (e.g., 'success', 'error') as icon
                title: 'Save', // Capitalize the tag for the title
                text: 'Record Saved Successfully',
                timer: 3000, // Optional: automatically close after 3 seconds
                showConfirmButton: true, // Optional: hide the confirm button
                position: 'top-end' // Optional: position the alert
            });
                },
                 complete: function(){
                  $('#id_code').val('');  
                  $('#id_code').attr('required', 'required');              
                  $('#id_heads').val('');
                  $('.ajax-loader').css("visibility", "hidden");
                  },

                error: function(data) {
                
                Swal.fire({
                icon: 'error', // Use message tags (e.g., 'success', 'error') as icon
                title: data.responseJSON.status, // Capitalize the tag for the title
                text: data.responseJSON.errors,
                timer: 3000, // Optional: automatically close after 3 seconds
                showConfirmButton: true, // Optional: hide the confirm button
                position: 'top-end' // Optional: position the alert
            });

                 
                   
                }
         });        
        });
    
</script>
     
<div class="col-xl-12 mb-3 mb-xl-0">


               <div class="card">

                  <!-- Custom style form wizard -->
                  <div class="d-md-flex align-content-stretch">

                     <!-- Info banner -->
                     <div class="col-md-4 bg-info bg-opacity-30 text-info-emphasis d-flex flex-column align-items-center justify-content-center p-3 rounded-start">
                        <h3 class="h1 mb-3 text-info-emphasis">Subject Settings</h3>
                        <p class="text-center">This module is being used to create, view, update and delete the Subjects.</p>
                      
                     </div>
                     <!-- END : Info banner -->

                     <!-- <div class="d-none d-md-block vr"></div> -->


                     <div class="card-body flex-fill">
                    

                            <div class="card shadow-lg">
        <div class="card-body center" >

           <div class="text-center">
              <h1 class="h3">Create a Subject Details</h1>
              <p>This module is being used to view, create, update and delete the Subject.</p>
           </div>

             {% comment %} <form id="myform" class="needs-validation" method="post" action="{% url 'subject-add' %}" novalidate> {% endcomment %}
              <form id="myform" class="needs-validation" novalidate>
            {% csrf_token %}
              <div class="w-md-800px d-inline-flex row g-3 mb-4" style="width:100%;">

                 <div class="col-sm-12">
                  <label class="col-sm-12"> Select Semester</label>
                    {% comment %} <input type="text" class="form-control" placeholder="First name" aria-label="First name" autofocus required> {% endcomment %}
                    {{ form.semester_id }}
                    <div class="invalid-feedback">Please input Semester</div>
                 </div>              

                <div class="col-sm-3">
                    {% comment %} <input type="text" class="form-control" placeholder="First name" aria-label="First name" autofocus required> {% endcomment %}
                    {{ form.code }}
                    <div class="invalid-feedback">Please input Subject Code</div>
                 </div>
                 <div class="col-sm-9">
                  {{ form.heads }}
                    <div class="invalid-feedback">Please input Subject Name</div>
                 </div>   
               
                
              </div>         
          
              <br>

                
                 {% include 'includes/loader.html'%}
               
        
         <div class="card">
               <ul class="errorlist"> 
                  {% if form.errors %}              
                  {% for field in form %}
                     {% if field.errors %}
                        {% for error in field.errors %}
                           <li style="color:red;"> {{ error }} </li>
                        {% endfor %}
                     {% endif%}
                  {% endfor%}
                  {% if form.non_field_errors  %}
                     <li style="color:crimson;"> {{ form.non_field_errors }} </li>
                  {% endif %}
                  {% endif %}
               </ul>
            </div>
             
              {% comment %} {% include 'includes/message.html' %} {% endcomment %}
     
               
              <div class="d-grid mt-2">
                 <button class="btn btn-primary btn-lg" id="btnsave"  type="submit">EXECUTE</button>               
              </div>

           
              
              <div class="row mt-4">
          <!-- Small table -->
                           <div class="table-responsive">
                              <table id="myTable" class="table table-sm">
                                 <thead>
                                    <tr>
                                   
                                       <th>SUBJECT CODE</th>  
                                       <th>SUBJECT NAME</th>  
                                       <th></th>
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for col in table_name %}
                                       <tr>
                                          {% comment %} <td> {% endcomment %}
                                        {% comment %} <td>{{ col.semester_id}}</td>
                                       <td>{{ col.code|title}}</td>
                                       <td>{{ col.heads|title}} </td>    {% endcomment %}
                                        {% comment %} <td><a href="{% url 'subject-edit' col.id %}"><img src="{% static 'img/edit.png' %}"> </img> </a></td>                            {% endcomment %}
                                        {% comment %} <td><a href="{% url 'subject-delete' col.id %}" onclick="return confirm('Are you sure you want to delete this?')"><img src="{% static 'img/delete.png' %}"> </img> </a></td>                            {% endcomment %}
                                    </tr>
                                    {% endfor %}
                                   
                                    
                                 </tbody>
                              </table>

                           
                           </div>
                           <!-- END : Small table -->

              </div>
              
           </form>
           
           {% comment %} <div class="d-flex justify-content-between mt-4">
              Already have an account ?
              <a href="{% url 'login' %}" class="btn-link text-decoration-none">Sign In</a>
           </div> {% endcomment %}
            
    </div>


                     </div>
                     
                  </div>
                  <!-- END : Custom style form wizard -->

               </div>

               
</div>


{% endblock %}